/* mobile */
@media screen and (max-width: 1100px){
}

/* for all */
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
  display: grid;
  grid-area: header;
  background-color: #969948;
}

body {
    display: grid;
    grid-template-areas:"header header"
                        "about project"
                        "contact project"
                        "footer footer";
}

main {
  display: grid;
  grid-template-areas:"header header"
                      "about project"
                      "contact project"
                      "footer footer";
  background-color: pink;
}



.About{
  display: grid;
  grid-area: about;
}

.Contact{
  display: grid;
  grid-area: contact;
}

.Work{
  display: grid;
  grid-area: project;
}

li:hover {
	top: 50%;
	left: 50%;
    color: white;
    text-decoration: none;
  }

footer {
  display: grid;
  grid-area: footer;
  background-color: powderblue;
}